  <link rel="stylesheet" href="gallery/styles.min.css">
  <main>
    <section class="sb-previews sub-page">
      @@loop('previews.html', 'images.json')
    </section>
  </main>

  <section class="sb-modal">
    <span class="sb-image-count btn"></span>
    <span class="sb-close btn">&times;</span>
    <div class="sb-stage">
      <span class="sb-prev btn">&#10094;</span>
      <span class="sb-next btn">&#10095;</span>
    </div>
      <span class="sb-caption"></span>
  </section>

  <script src="gallery/scripts.min.js"></script>