RewriteEngine on

RewriteCond %{HTTP_HOST} !^www\. [NC]
RewriteRule ^(.*)$ http://www.%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

RewriteCond %{HTTPS} off
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

RewriteCond %{HTTP_REFERER} !^http://tapasyaks.org/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://tapasyaks.org$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.tapasyaks.org/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.tapasyaks.org$      [NC]
RewriteCond %{HTTP_REFERER} !^https://tapasyaks.org/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://tapasyaks.org$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.tapasyaks.org/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.tapasyaks.org$      [NC]
RewriteRule .*\.(jpg|jpeg|gif|png|bmp)$ - [F,NC]

DirectoryIndex index.html

<IfModule mod_rewrite.c>
	# TEMP MAINTENANCE PAGE
#	RewriteCond %{REMOTE_ADDR} !^117\.193\.6\.204
#	RewriteRule .* - [R=503,L]
</IfModule>