<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <meta name="description" content="Tapasya seeks to promote and preserve authentic artistic traditions through research, documentation and dissemination, an effort to understand and respect original cultural heritage.">

  <meta property="og:title" content="Tapasya Kala Sampradaya">
  <meta property="og:description" content="Tapasya seeks to promote and preserve authentic artistic traditions through research, documentation and dissemination, an effort to understand and respect original cultural heritage.">
  <meta property="og:url" content="http://tapasyaks.org/">
  <meta property="og:image" content="http://alpha.tapasyaks.org/images/main/logo/tkslogo-256.jpg">

  <title>Tapasya Kala Sampradaya</title>

  <link rel="icon" type="image/ico" href="favicon.ico">
</head>

<body>
  @@include('../loader/loader.html')
  @@include('../header/header.html')
  <main>
    @@include('../home/home.html')
    @@include('../about/about.html')
    @@include('../activities/activities.html')
    @@include('../contact/contact.html')
    @@include('../gallery/gallery.html')
  </main>
  @@include('../footer/footer.html')

  <link href="styles.min.css" rel="stylesheet">
  <script src="scripts.min.js"></script>
</body>

</html>