<section class="page">
  <div id="contact" class="sub-page">

    <div class="content">

      <h1>Contact Us</h1>

      <form name="contact-form" method="post" action="mail-handler.php">

        <input class="input-text" type="text" placeholder="Name" name="full_name" aria-label="Full Name" required>

        <input class="input-text" type="email" placeholder="Email" name="email" aria-label="Email" required>

        <textarea class="input-text" placeholder="Message" maxlength="300" name="message" aria-label="Message" required></textarea>

        <input type="submit" value="Submit" aria-label="Submit Message">
      </form>

    </div>

  </div>
</section>