#the-organisation {
  .banner {
    background-image: url('images/main/Aboutus1.jpg');
    background-position: center top;
  }
}
#our-objectives {
  .banner {
    background-image: url('images/main/Objectives1 .jpg');
    background-position: center center;
  }
}
#the-director {
  .banner {
    background-image: url('images/main/Director4.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    height: 450px;
  }
}