.banner {
  &:extend(.w3-display-container);
  &:extend(.w3-panel);
  &:extend(.w3-grey);
  height: 400px;
  h1 {
    &:extend(.w3-display-middle);
    &:extend(.w3-jumbo);
    &:extend(.w3-padding);
    &:extend(.w3-text-white);
    font-weight: 700;
    background: rgba(0, 0, 0, 0.6);
  }
}
.description {
  width: 80%;
  margin: 0 auto;
}
#the-organisation {
  .banner {
    background: url('images/main/Aboutus1.jpg');
    background-position: center top;
  }
}
#our-objectives {
  .banner {
    background: url('images/main/Objectives1 .jpg');
    background-position: center center;
  }
}
#the-director {
  .banner {
    background: url('images/main/Director3.jpg');
    background-position: center top;
    height: 500px;
  }
}