#research {
  .banner {
    background: url('images/main/Research3.jpg');
    background-position: center center;
    background-size: cover;
  }
}
#reconstruction {
  .banner {
    background: url('images/main/Reconstruction1.jpg');
    background-position: right center;
    background-size: cover;
  }
}