#research {
  .banner {
    background-image: url('images/main/Research3.jpg');
    background-position: center center;
  }
}
#reconstruction {
  .banner {
    background-image: url('images/main/Reconstruction1.jpg');
    background-position: right center;
  }
}