body {
  font-family: 'Bitter', serif;
}
h1, h2, h3 {
  font-family: 'Montserrat', sans-serif;
}
main {
  margin-top: 60px;
}
textarea:focus, input:focus{
    outline: none;
}
.page:not(#home) {
  display: none;
}
.sub-page {
  &:extend(.w3-animate-top);
  display: none;
}
.banner {
  &:extend(.w3-display-container);
  background-color: #4CAF50;
  height: 400px;
  h1 {
    &:extend(.w3-display-bottommiddle);
    &:extend(.w3-jumbo);
    &:extend(.w3-padding);
    &:extend(.w3-text-white);
    font-weight: 700;
    background: rgba(0, 0, 0, 0.6);
  }
}
.description {
  color: #212121;
  width: 80%;
  margin: 0 auto;
  text-align: center;
}