#contact {
  &:extend(.w3-display-container);
  height: 500px;
  background-image: url('images/main/banners-bg/contact.jpg');
  background-position: center center;
  background-size: cover;

  .description {
    &:extend(.w3-display-middle);
    background: rgba(0, 0, 0, 0.6);
    
    h1 {
      color: #fff;
      text-align: center;
      font-size: 2em;
      font-weight: 700;
    }
  }
  form {
    &:extend(.w3-padding);

    .input-text, input[type='submit'] {
      &:extend(.w3-input);
    }

    .input-text {
      &:extend(.w3-transparent);

      &::-webkit-input-placeholder {

        /* WebKit, Blink, Edge */
        color: #fff;
      }
      &:-moz-placeholder {
        /* Mozilla Firefox 4 to 18 */
        color: #fff;
        opacity: 1;
      }
      &::-moz-placeholder {
        /* Mozilla Firefox 19+ */
        color: #fff;
        opacity: 1;
      }
      &:-ms-input-placeholder {
        /* Internet Explorer 10-11 */
        color: #fff;
      }
      &::-ms-input-placeholder {
        /* Microsoft Edge */
        color: #fff;
      }
      margin: 10px 0;
      color: #fff;
      resize: none;
    }

    input[type='submit'] {
      background-color: #ddd;
      border-color: #ddd;
    }
  }
}

@media only screen and (max-width: @screen-break-point) {
  #contact {
    background-position: left center;
  }
}