header {
  .w3-card-2;
  .w3-top;
  z-index: 10;

  a {
    text-decoration: none;
  }
  .logo {
    .logo-text {
      color: #eaa700;
      font-family: Montserrat;
      font-weight: 400;
      font-size: 22px;
      padding: 0 0;
    }
    .logo-img {
      img {
        max-width: 60px;
        max-height: 60px;
      }
    }
  }
  nav {
    ul {
      list-style-type: none;
      padding: 0;

      li a,
      .p-dropdown .p-dropdown-btn {
        .w3-button;
      }

      li a:hover,
      .p-dropdown:hover .p-dropdown-btn {
        background-color: #d0cdcd;
      }

      .p-dropdown-content a:not(.active-hash):hover {
        background-color: #d6d4d4;
      }
    }
  }
}

@media only screen and (max-width: @screen-break-point) {
  header {
    width: 100vw;
    text-align: center;

    &.nav-open {
      height: 100vh;
      background: rgba(255, 255, 255, 0.8);
    }

    .logo {
      .w3-card-2;
      color: #b8860b;
      background-color: white;
      font-family: Montserrat;
      font-weight: 400;
      font-size: 20px;
      padding: 10px 0;
      text-align: center;
      vertical-align: middle;

      .logo-img img {
        height: 30px;
      }

      .menu-icon {
        .w3-left;
        margin-left: 10px;
        padding: 0 5px;
        cursor: pointer;

        &:hover {
          .w3-light-gray;
        }
      }
    }


    nav {
      height: 100%;
      width: 100%;
      display: none;
      overflow-y: auto;


      &.nav-open {
        .w3-animate-top;
        position: relative;
        z-index: -1;
        display: block;
      }

      ul {
        margin-bottom: 80px; // For "Contact" Item to be visible.
        li {
          .w3-border-bottom;
          background-color: #f1f1f1;
          background-color: rgba(241, 241, 241, 0.4);
        }

        li a,
        .p-dropdown .p-dropdown-btn {
          .w3-block;
        }

        .p-dropdown {
          .p-dropdown-content:not(.active) {
            display: none;
          }
        }

        .p-dropdown-btn.active:not(.w3-green) {
          .w3-gray;
        }
      }
    }
  }
}

@media only screen and (min-width: @screen-break-point) {

  header {
    .w3-container;
    .w3-white;

    .logo {
      display: inline-flex;
      align-items: center;
      margin: 5px;
      padding: 0;
    }

    .menu-icon {
      display: none;
    }

    nav {
      margin-top: 16px;
      margin-bottom: 16px;
      .w3-right;

      .navLink.active-hash {
        background-color: #d6b400;
        color: #fff;
      }

      ul {
        margin: 0;
        overflow: hidden;

        li {
          float: left;
          margin: 0 2px;
        }

        .p-dropdown {
          display: inline-block;
        }

        .p-dropdown-content {
          .w3-card-4;
          .w3-dropdown-content;
          z-index: 1;
        }

        .p-dropdown-content a {
          padding: 12px 16px;
          display: block;
          text-align: left;
        }
        // .p-dropdown-btn.active-dropdown {
        //   background-color: yellow;
        // }
        .p-dropdown:hover .p-dropdown-content {
          display: block;
        }
      }
    }
  }
}