#home {
  &:extend(.w3-panel);
  &:extend(.w3-display-container);
  height: 450px;

  .feather-img-container {
    &:extend(.w3-display-right);
    height: 100%;

    img {
      height:auto;
      max-height: 100%;
      max-width: 100%;
    }
  }

  .intro-container {
    &:extend(.w3-display-left);
    &:extend(.w3-margin-left);
    &:extend(.w3-center);
    width: 60%;

    h1 {
      &:extend(.w3-jumbo);
      color: #daa520;
      font-weight: 700;
      line-height: 1.06;
    }

    .subtitle {
      &:extend(.w3-xlarge);
      color: #6b8e23;
    }
  }
}