#home {
  .home-banner {
    &:extend(.w3-display-container);
    height: 400px;
    position: relative;
    z-index: 1;
    text-align: center;
    div {
      &:extend(.w3-display-middle);
      width: 100%;
      h1 {
        color: #009000;
        font-size: 3em;
        font-weight: 700;
        line-height: 1.06;
      }
      h2 {
        &:extend(.w3-xlarge);
        color: #006400;
      }
    }
  }
  .home-banner::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: .4;
    z-index: -1;
    background-image: url('images/main/banners-bg/feather-with-slogan.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }
  .description {
    padding-top: 20px;
    text-align: center;
  }
}

@media only screen and (min-width: @screen-break-point) {
  #home {
    .home-banner {
      div {
        vertical-align: middle;
        h1 {
          font-size: 4em;
        }
      }
    }
    .description {
      width: 40%;
    }
  }
}