<div id="reconstruction" class="sub-page">
  <div class="banner">
    <h1>Reconstruction</h1>
  </div>
  <div class="content">
    <p>
      The Tapasya team has reconstructed several compositions from the temple and court repertoire. The Tyagesa Kuravanji and the
      Pallakki Seva Prabhandam were performed at the Tiruvarur Temple under the guidance of Smt P. R. Thilakam, a Padma Shri
      Awardee.
    </p>
    <p>
      Similar efforts under the guidance of Guru Kittappa Pillai and Pandanallur Gopalakrishnan include the temple traditions of
      the Navasandhi Kauthuvams and the Sarvendra Bhupala Kuravanji and several rare compositions of the Tanjore Quartet.
    </p>
  </div>
</div>