<div id="research" class="sub-page">
  <div class="banner" data-bg-src="images/main/banners-bg/Research3.jpg">
    <h1>Research</h1>
  </div>
  <div class="content">
    <p>
      Tapasya’s research documentary Marainduvarum Marabugal, funded in part by India Foundation for the Arts, Bangalore, filmed
      eminent masters and artistes from hereditary families from the field of Bharatanatyam and its music sharing nuances
      of their art and artistic heritage.
    </p>
    <p>
      Filmed in traditional centres of art like Tanjavur, Tiruvarur, Kanchipuram etc. this film is the only source material available
      on several eminent artistes no longer with us. In keeping with Tapasya’s ideology financial support was provided
      to all resource persons who were a part of the project.
    </p>
    <p>
      Tapasya has also brought out publications of traditional compositions revived from palm leaf manuscripts preserved with the
      hereditary families.
    </p>
  </div>
</div>
