<div id="research" class="sub-page">
  <div class="banner" data-bg-src="images/main/banners-bg/Research3.jpg">
    <h1>Research</h1>
  </div>
  <div class="content">

    <div class="text-container">
      <p>
        Tapasya’s research documentary Marainduvarum Marabugal, funded in part by India Foundation for the Arts, Bangalore, captures
        eminent masters and artistes from hereditary families from the field of Bharatanatyam and its music, sharing nuances
        of their art and artistic heritage.
      </p>
      <p>
        Filmed in traditional centres of art like Tanjavur, Tiruvarur, Kanchipuram etc. this film is the only source material available
        on several eminent artistes no longer with us. Marainduvarum Marabugal gives us an insight into traditional teaching techniques and 
        the artistic legacy of the reknowned families that nutured and preserved the ancient art of Bharatanatyam.
      </p>
      <p>
        Edited from over 50 hours of tape, Marainduvarum Marabugal is the result of extensive research and intense interaction with the traditional masters.
      </p>
      <p>
        The project aims to bring alive the original artistic tradition of the hereditary masters.
      </p>
      <p>
        Tapasya expresses its gratitude to all the resource persons featured in this documentary.
      </p>
      <p>
        Tapasya has also brought out publications of traditional compositions revived from palm leaf manuscripts preserved with the
        hereditary families.
      </p>
    </div>

    <div class="video-container">

      <iframe width="480" height="270" src="https://www.youtube-nocookie.com/embed/xbRkuHT1V9U?rel=0" frameborder="0" allow="autoplay; encrypted-media"
        allowfullscreen></iframe>

    </div>

  </div>
</div>
