<!DOCTYPE html>
<html lang="en">

<head>
  
  <%- include('./addons/meta-data.html') %>

  <title>Tapasya Kala Sampradaya</title>

  <link rel="icon" type="image/png" href="images/logo/favicon-32.png">

</head>

<body>

  <%- include('./views/loader/loader.html') %>

  <div class="views-container">

    <%- include('./views/header/header.html') %>

    <main class="tks-main">

      <%- include('./views/home/home.html')  %>
      <%- include('./views/about/about.html')  %>
      <%- include('./views/activities/activities.html')  %>
      <%- include('./views/gallery/gallery.html') %>
      <%- include('./views/events/events.html')  %>
      <%- include('./views/contact/contact.html') %>

    </main>

    <%- include('./views/footer/footer.html') %>

  </div>

</body>

</html>
