<section id="about" class="page">
  <div id="the-organisation" class="sub-page">
    <div class="banner">
      <h1>The Organisation</h1>
    </div>
    <div class="description">
      <p>
        Tapasya Kala Sampradaya, set up in 1997 under the guidance of eminent Natyacharya K.P.Kittappa Pillai, is an alliance of
        resource persons, artistes, research scholars and students bound by the common vision of cultural preservation. The
        aim is to research and document India’s profound cultural and spiritual heritage in its authentic form in collaboration
        with original resource persons, masters and artistes.
      </p>
    </div>
  </div>
  <div id="our-objectives" class="sub-page">
    <div class="banner">
      <h1>Our Objectives</h1>
    </div>
    <div class="description">
      <p>
        <ul>
          <li>Preservation of traditional art and heritage.</li>
          <li>Research and documentation of original cultural and spiritual traditions.</li>
          <li>Dissemination of research findings:
            <ul>
              <li>Classes</li>
              <li>Workshops</li>
              <li>Seminars</li>
              <li>Programs</li>
              <li>Audio visual presentations</li>
              <li>Publications</li>
              <li>Support of artistes/resource persons.</li>
            </ul>
          </li>
          <li>Orientation of students to traditional art and culture.</li>
          <li>To create awareness on need to preserve traditional culture</li>
        </ul>
      </p>
    </div>
  </div>
  <div id="the-director" class="sub-page">
    <div class="banner">
      <h1>The Director</h1>
    </div>
    <div class="description">
      <p>
        (Indu) Jayanthi Varma trained under Kamala Laxman, a Padmabhushan Awardee, from the age of six. Her arangretram at the Music
        Academy, Chennai and several performances with her Guru followed. Indu continued her training under Natyacarya K.
        P. Kittappa Pillai off Tanjavur. This association culminated in the establishment of Tapasya Kala Sampradaya with
        the vision of preserving India’s original cultural heritage.
      </p>
      <p>
        Indu was part of the research team of Marainduvarum Marabugal, Tapasya’s Research documentary funded in part by India Foundation
        for the Arts, Bangalore. Indu has helped reconstruct several compositions from the temple and court repertoire under
        the guidance of senior resource persons from hereditary families. She has performed widely within India and abroad
        and has trained several students in traditional Bharatanatyam. She also interacts extensively with students from
        schools and colleges in her quest to create awareness on the need to preserve traditional heritage. Indu was a member
        of the Board of Studies Faculty of Dance University of Madras (2008-2010). She has also authored and published books
        and articles on traditional culture and spirituality.
      </p>
    </div>
  </div>
</section>