<section id="activities" class="page">
  <div id="research" class="sub-page">
    <div class="banner">
      <h1>Research</h1>
    </div>
    <div class="description">
      <p>
        Tapasya’s research documentary Maraynduvarum Marabugal, funded in part by India Foundation for the Arts, Bangalore, filmed
        eminent masters and artistes from hereditary families from the field of Bharatanatyam and its music sharing nuances
        of their art and artistic heritage.
      </p>
      <p>
        Filmed in traditional centres of art like Tanjavur, Tiruvarur, Kanchipuram etc. this film is the only source material available
        on several eminent artistes no longer with us. In keeping with Tapasya’s ideology financial support was provided
        to all resource persons who were a part of the project.
      </p>
      <p>
        Tapasya has also brought out publications of traditional compositions revived from palm leaf manuscripts preserved with the
        hereditary families.
      </p>
    </div>
  </div>
  <div id="reconstruction" class="sub-page">
    <div class="banner">
      <h1>Reconstruction</h1>
    </div>
    <div class="description">
      <p>
        The Tapasya team has reconstructed several compositions from the temple and court repertoire. The Tyagesa Kuravanji and the
        Palikki Seva Prabhandam were performed at the Tiruvarur Temple under the guidance of Smt P. R. Thilakam a Padmasri
        Awardee.
      </p>
      <p>
        Similar efforts under the guidance of Guru Kittappa Pillai and Pandanallur Gopalakrishnan include the temple traditions of
        the Navasandhi Kauthuvams and the Sarvendra Bhupala Kuravanji and several rare compositions of the Tanjore Quartet.
      </p>
    </div>
  </div>
  <div id="current-projects" class="sub-page">
    <div class="banner">
      <h1>Current Projects</h1>
    </div>
    <div class="description">
      <p>
        Tapasya’s current project is a research documentary on traditional art forms.
      </p>
    </div>
  </div>
</section>