<section id="contact" class="page">
  <div class="banner">
    <h1>Contact Us</h1>
  </div>
  <div class="description">
    <form class="w3-container w3-row-padding w3-margin">
      <div class="w3-half"><input type="text" class="w3-input w3-border w3-round" placeholder="Name"></div>
      <div class="w3-half"><input type="text" class="w3-input w3-border w3-round" placeholder="Email"></div>
      <div class="w3-col"><textarea placeholder="message" class="w3-input"></textarea>
    </form>
  </div>
</section>