<section id="contact" class="page">
  <div class="banner">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3887.5951911799184!2d80.25886611445253!3d12.997723590838739!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a5267f1426ad789%3A0xab9d20df6f36e543!2s5%2C+8th+Cross+St%2C+Shastri+Nagar%2C+Adyar%2C+Chennai%2C+Tamil+Nadu+600020!5e0!3m2!1sen!2sin!4v1495716415392"
      width="100%" height="100%" frameborder="0" style="border:0" allowfullscreen></iframe>
    <h1>Contact Us</h1>
  </div>
  <div class="description">
    <form class="w3-container w3-row-padding w3-margin">
      <div class="w3-half"><input type="text" class="w3-input w3-border w3-round" placeholder="Name"></div>
      <div class="w3-half"><input type="text" class="w3-input w3-border w3-round" placeholder="Email"></div>
      <div class="w3-col"><textarea placeholder="message" class="w3-input"></textarea>
    </form>
  </div>
</section>