<section id="contact" class="page">
  <div class="description">
    <h1>Contact Us</h1>
    <form name="contact-form" method="post" action="mail_handler.php">
      <input class="input-text" type="text" placeholder="Name" name="full_name" required>
      <input class="input-text" type="email" placeholder="Email" name="email" required>
      <textarea class="input-text" placeholder="Message" maxlength="300" name="message" required></textarea>
      <input type="submit" value="Submit">
    </form>
  </div>
</section>