<header class="w3-top w3-white w3-card-2">
<div class="w3-panel w3-bar">
  <a href="#" class="logo w3-bar-item w3-button">
    Tapasya Kala Sampradaya
  </a>
  <nav class="w3-right">
    <a href="#" class="w3-bar-item w3-button w3-green">Home</a>
    <div class="w3-dropdown-hover">
      <button class="w3-button">About</button>
      <div class="w3-dropdown-content w3-bar-block w3-card-4">
        <a href="#" class="w3-bar-item w3-button">The Organisation</a>
        <a href="#" class="w3-bar-item w3-button">Our Objectives</a>
        <a href="#" class="w3-bar-item w3-button">The Director</a>
      </div>
    </div>
    <div class="w3-dropdown-hover">
      <button class="w3-button">Activities</button>
      <div class="w3-dropdown-content w3-bar-block w3-card-4">
        <a href="#" class="w3-bar-item w3-button">Research</a>
        <a href="#" class="w3-bar-item w3-button">Reconstruction</a>
        <a href="#" class="w3-bar-item w3-button">Current Projects</a>
      </div>
    </div>
    <a href="#" class="w3-bar-item w3-button">Contact</a>
  </nav>
</div>
</header>