<header>
  <div class="logo">
    <span class="menu-icon"></span>
    <a href="@@ROOTDIR_#home" class="logo-text">Tapasya Kala Sampradaya</a>
  </div>
  <nav>
    <ul>
      <li><a href="@@ROOTDIR_#/home" class="navLink">Home</a></li>
      <li class="p-dropdown">
        <span class="p-dropdown-btn">About 
            <img src="@@ROOTDIR_images/icons/dropdown-icon.svg" alt="">
        </span>
        <div class="p-dropdown-content">
          <a class="navLink" href="@@ROOTDIR_#/the-organisation">The Organisation</a>
          <a class="navLink" href="@@ROOTDIR_#/our-objectives">Our Objectives</a>
          <a class="navLink" href="@@ROOTDIR_#/the-director">The Director</a>
        </div>
      </li>
      <li class="p-dropdown">
        <span class="p-dropdown-btn">Activities 
          <img src="@@ROOTDIR_images/icons/dropdown-icon.svg" alt="">
        </span>
        <div class="p-dropdown-content">
          <a class="navLink" href="@@ROOTDIR_#/research">Research</a>
          <a class="navLink" href="@@ROOTDIR_#/reconstruction">Reconstruction</a>
          <a class="navLink" href="@@ROOTDIR_#/current-projects">Current Projects</a>
        </div>
      </li>
      <li><a class="navLink" href="@@ROOTDIR_#/gallery">Gallery</a></li>
      <li><a class="navLink" href="@@ROOTDIR_#/contact">Contact</a></li>
    </ul>
  </nav>
</header>