<section id="home">
  <div class="feather-img-container">
    <img src="images/peacock-feather.png" alt="Feather">
  </div>
  <div class="intro-container">
    <h1>Tapasya Kala Sampradaya</h1>
    <p class="subtitle"><i>Preserving traditional art...</i></p>
    <p class="description">
      Tapasya Kala Sampradaya is an institution to promote research and preserve with the help of resource persons who have devoted
      their lives to the cause of serious art, music, dance, literature, the true cultural and spiritual traditions of the
      nation.
    </p>
  </div>
</section>