<section id="home" class="w3-panel w3-display-container" style="height: 450px;">
  <div style="height:100%;" class="w3-display-right">
    <img src="images/peacock-feather.png" alt="Home-logo" style="height:auto; max-height: 100%; max-width: 100%;">
  </div>
  <div class="w3-display-left w3-margin-left w3-center" style="width: 60%;">
    <h1 style="font-weight: 700; line-height: 1.06;" class="w3-jumbo">Tapasya Kala Sampradaya</h1>
    <p class="w3-xlarge"><i>Preserving traditional art...</i></p>
    <p class="w3-text-gray">
      Tapasya Kala Sampradaya is an institution to promote research and preserve with the help of resource persons who have devoted
      their lives to the cause of serious art, music, dance, literature, the true cultural and spiritual traditions of the
      nation.
    </p>
  </div>
</section>