<section id="home" class="page">
  <div class="feather-img-container">
    <img src="images/feather-with-slogan3.png" alt="Feather">
  </div>
  <div class="intro-container">
    <h1>Tapasya Kala Sampradaya</h1>
    <p class="subtitle"><i>Where art is offering...</i></p>
    <p class="description">
      Tapasya seeks to promote and preserve authentic artistic traditions through research, documentation and dissemination, an
      effort to understand and respect original cultural heritage.
    </p>
  </div>
</section>