<div id="our-objectives" class="sub-page">
  <div class="banner">
    <h1>Our Objectives</h1>
  </div>
  <div class="content">
    <p>
      <ul>
        <li>Preservation of traditional art and heritage.</li>
        <li>Research and documentation of original cultural and spiritual traditions.</li>
        <li>Dissemination of research findings:
          <ul>
            <li>Classes</li>
            <li>Workshops</li>
            <li>Seminars</li>
            <li>Programs</li>
            <li>Audio visual presentations</li>
            <li>Publications</li>
            <li>Support of artistes/resource persons.</li>
          </ul>
        </li>
        <li>Orientation of students to traditional art and culture.</li>
        <li>To create awareness on need to preserve traditional culture</li>
      </ul>
    </p>
  </div>
</div>