#our-objectives {
  .banner {
    background-image: url('images/main/banners-bg/Objectives4.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }
}