<div id="our-objectives" class="sub-page">
  <div class="banner" data-bg-src="images/main/banners-bg/Objectives4.jpg">
    <h1>Our Objectives</h1>
  </div>
  <div class="content">
    <ul>
      <li>
        <div class="icons objectives preservation"></div>
        <div class="icon-label">
          Preservation of traditional art and heritage.
        </div>
      </li>
      <li>
        <div class="icons objectives documentation"></div>
        <div class="icon-label">
          Research and documentation of original cultural and spiritual traditions.
        </div>
      </li>
      <li>
        <div class="icons objectives dissemination"></div>
        <div class="icon-label">
          Dissemination of research findings: Classes, Workshops, Seminars, Programs, Audio visual presentations, Publications.
        </div>
      </li>
      <li>
        <div class="icons objectives support"></div>
        <div class="icon-label">
          Support of artistes/resource persons.
        </div>
      </li>
      <li>
        <div class="icons objectives orientation"></div>
        <div class="icon-label">
          Orientation of students to traditional art and culture.
        </div>
      </li>
      <li>
        <div class="icons objectives awareness"></div>
        <div class="icon-label">
          To create awareness on need to preserve traditional culture.
        </div>
      </li>
    </ul>
  </div>
</div>
