<div id="our-objectives" class="sub-page">
  <div class="banner" data-bg-src="images/main/banners-bg/Objectives4.jpg">
    <h1>Our Objectives</h1>
  </div>
  <div class="content">
    <ul>
      <li>Preservation of traditional art and heritage.</li>
      <li>Research and documentation of original cultural and spiritual traditions.</li>
      <li>Dissemination of research findings: Classes, Workshops, Seminars, Programs, Audio visual presentations, Publications.</li>
      <li>Support of artistes/resource persons.</li>
      <li>Orientation of students to traditional art and culture.</li>
      <li>To create awareness on need to preserve traditional culture.</li>
    </ul>
  </div>
</div>
