<div id="the-organisation" class="sub-page">
  <div class="banner">
    <h1>The Organisation</h1>
  </div>
  <div class="description">
    <p>
      Tapasya Kala Sampradaya, set up in 1997 under the guidance of eminent Natyacharya K.P.Kittappa Pillai, is an alliance of
      resource persons, artistes, research scholars and students bound by the common vision of cultural preservation. The
      aim is to research and document India’s profound cultural and spiritual heritage in its authentic form in collaboration
      with original resource persons, masters and artistes.
    </p>
  </div>
</div>