<div id="the-director" class="sub-page">
  <div class="banner">
    <h1>The Director</h1>
  </div>
  <div class="content">
    <p>
      (Indu) Jayanthi Varma trained under Kamala Laxman, a Padma Bhushan Awardee, from the age of six. Her arangretram at the Music
      Academy, Chennai and several performances with her Guru followed. Indu continued her training under Natyacarya K. P.
      Kittappa Pillai off Tanjavur. This association culminated in the establishment of Tapasya Kala Sampradaya with the
      vision of preserving India’s original cultural heritage.
    </p>
    <p>
      Indu was part of the research team of Marainduvarum Marabugal, Tapasya’s research documentary funded in part by India Foundation
      for the Arts, Bangalore. Indu has helped reconstruct several compositions from the temple and court repertoire under
      the guidance of senior resource persons from hereditary families. She has performed widely within India and abroad
      and has trained several students in traditional Bharatanatyam. She also interacts extensively with students from schools
      and colleges in her quest to create awareness on the need to preserve traditional heritage. A former member of the
      Board of Studies, Faculty of Dance, University of Madras, Indu has authored and published books and articles on traditional
      culture and spirituality.
    </p>
  </div>
</div>